# PostgreSQL
POSTGRES_URL=postgresql://user:password@localhost:5432/barbershop
PRISMA_DATABASE_URL=postgresql://user:password@localhost:5432/barbershop

# Application
APPLICATION_PORT=3000
ALLOWED_ORIGIN=http://localhost:3000
NODE_ENV=development

# Security
COOKIES_SECRET=your_secret_key_for_cookies

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_from_telegram_bot_father
