DATABASE_URL=postgresql://user:password@localhost:5432/barbershop

APPLICATION_PORT=3000
ALLOWED_ORIGIN=http://localhost:3000

TELEGRAM_BOT_TOKEN=your_bot_token_from_telegram_bot_father

COOKIES_SECRET=your_secret_key_for_cookies

UPSTASH_REDIS_URL=redis://user:password@localhost:6379

NODE_ENV=development
