POSTGRES_URL=postgresql://user:password@localhost:5432/barbershop
PRISMA_DATABASE_URL=postgresql://user:password@localhost:5432/barbershop

APPLICATION_PORT=3000
ALLOWED_ORIGIN=http://localhost:3000
NODE_ENV=development

COOKIES_SECRET=your_secret_key_for_cookies

TELEGRAM_BOT_TOKEN=your_bot_token_from_telegram_bot_father
